[Unit]
Description=Change wallpaper and lock-screen image
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=forking
ExecStart=%h/.local/bin/scripts/random_background_from_topics.sh
TimeoutStartSec=2min
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=graphical-session.target
