[Unit]
Description=Refresh wallpaper and lock-screen image
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart wallpaper_change.service
