
// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    //match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id=r#".*wezterm-gui"#
    default-column-width {}
}
