[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=swayidle -w timeout 599 'niri msg action power-off-monitors' timeout 600 '~/.config/niri/scripts/HyprLockScreen.sh' before-sleep '~/.config/niri/scripts/HyprLockScreen.sh'
Restart=on-failure
ExecCondition=/usr/lib/systemd/systemd-xdg-autostart-condition "" "KDE:GNOME"
