[Unit]
Description=Change wallpaper and background lock every 30 min

[Timer]
OnCalendar=*-*-* *:00/30:00
Persistent=true

[Install]
WantedBy=timers.target graphical-session.target
