[Desktop Entry]
Categories=ConsoleOnly;System;FileTools
Comment[en_US]=Launches the cmus
Comment=Launches the cmus
Exec=sh -c "$HOME"/.local/bin/launch_cmus.sh
Icon=custom_music
Keywords=Music
MimeType=
Name[en_US]=cmus_normal
Name=cmus_normal
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
