[Desktop Entry]
Exec=sh -c "$HOME"/.local/bin/cmus_warpper.sh
MimeType=application/ogg;
Name=cmus_warpper.sh
NoDisplay=true
Terminal=true
Type=Application
