[Desktop Entry]
Categories=ConsoleOnly;System;FileTools
Comment[en_US]=Launches cmus
Comment=Launches cmus
Exec=launch_tmux_cmus.sh
Icon=custom_music
Keywords=Music
MimeType=
Name[en_US]=cmus
Name=cmus
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
