[Desktop Entry]
Categories=ConsoleOnly;System;FileTools;FileManager
Comment[en_US]=Launches the ranger file manager
Comment=Launches the ranger file manager
Exec=launch_tmux_ranger.sh
Icon=custom_terminal
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
MimeType=inode/directory;
Name[en_US]=ranger
Name=ranger
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
