[Desktop Entry]
Categories=ConsoleOnly;System;FileTools;FileManager
Comment[en_US]=Launches the yazi file manager
Comment=Launches the yazi file manager
Exec=sh -c "$HOME"/.local/bin/launch_yazi_wezterm.sh
Icon=custom_terminal
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
MimeType=inode/directory;
Name[en_US]=yazi_wezterm
Name=yazi_wezterm
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false

