
#"~/.config/alacritty/themes/themes/pencil_dark.toml"
#"~/.config/alacritty/themes/themes/campbell.toml"


# Full config info
# https://alacritty.org/config-alacritty.html
# https://wiki.archlinux.org/title/Alacritty

[font]
size = 17

# Download and store in, ~/.local/share/fonts/, the desired Nerd Font before
# https://ostechnix.com/install-nerd-fonts-to-add-glyphs-in-your-code-on-linux/

[font.bold]
family = "LiberationMono"
style = "Bold"

[font.bold_italic]
family = "LiberationMono"
style = "Bold Italic"

[font.italic]
family = "LiberationMono"
style = "Italic"

[font.normal]
family = "LiberationMono"
style = "Regular"

# This section allows to make any remote shells have the general terminal functionality 
[env]
TERM = "xterm-256color"

[selection]
save_to_clipboard = true

[terminal.shell]
# https://cedaei.com/posts/ideas-from-my-dev-setup-always-tmux/
## For this program needs to be in $PATH
program = "tmux_chooser.sh"

[scrolling]
# Specifying '0' will disable scrolling.
history = 100000
multiplier = 3

[window]
decorations = "none"
startup_mode = "Maximized"
opacity = 1
blur = true 
dynamic_padding = true

[window.padding]
x = 0
y = 0

# Open a new instance by running <Ctrl> + <Shift> + <Enter>
# Disable alacritty search, as when using tmux this must be handled in the tmux buffer
# https://www.freecodecamp.org/news/tmux-in-practice-scrollback-buffer-47d5ffa71c93/
# https://superuser.com/questions/231002/how-can-i-search-within-the-output-buffer-of-a-tmux-shell
# Disable Vi mode and copy mode as they do not work well with the tmux scroll buffer
# Only leave the paste mode, used with <Ctrl> + <Shift> + <v>
[keyboard]
bindings = [
  { key = "Return", mods = "Control|Shift", action = "SpawnNewInstance" },
  { key = "F", mods = "Control|Shift", action = "ReceiveChar" },
  { key = "B", mods = "Control|Shift", action = "ReceiveChar" },
  { key = "Space", mods = "Control|Shift", action = "ReceiveChar" },
  { key = "C", mods = "Control|Shift", action = "ReceiveChar" },
  #{ key = "F", mods = "Control|Shift", chars = '\x1b[70;6u' },
]

[mouse]
bindings = [
  { mouse = "Middle", action = "None" },
  { mouse = "Middle", mods = "Shift", action = "Paste" },
]

[bell]
animation = "EaseOutExpo"
duration = 0

# This section allows to <Ctrl> + Click, any link instead of the default behaviour of link
# When in tmux <Ctrl> + <Shift> + Click, due to the use of Ctrl in prefix
[[hints.enabled]]
regex = "(mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
command = "xdg-open"
post_processing = true
mouse = { enabled = true, mods = "Control" }

# This section has a multi regex to copy the following when using <Ctrl> + <Shift> + <u> + <KEY_OF_WHAT_TO_COPY>
  # 1. Kubernetes Resources
  # 2. UUIDs
  # 3. hex digits
  # 4. IP address
[[hints.enabled]]
regex = '((deployment.app|binding|componentstatuse|configmap|endpoint|event|limitrange|namespace|node|persistentvolumeclaim|persistentvolume|pod|podtemplate|replicationcontroller|resourcequota|secret|serviceaccount|service|mutatingwebhookconfiguration.admissionregistration.k8s.io|validatingwebhookconfiguration.admissionregistration.k8s.io|customresourcedefinition.apiextension.k8s.io|apiservice.apiregistration.k8s.io|controllerrevision.apps|daemonset.apps|deployment.apps|replicaset.apps|statefulset.apps|tokenreview.authentication.k8s.io|localsubjectaccessreview.authorization.k8s.io|selfsubjectaccessreviews.authorization.k8s.io|selfsubjectrulesreview.authorization.k8s.io|subjectaccessreview.authorization.k8s.io|horizontalpodautoscaler.autoscaling|cronjob.batch|job.batch|certificatesigningrequest.certificates.k8s.io|events.events.k8s.io|daemonset.extensions|deployment.extensions|ingress.extensions|networkpolicies.extensions|podsecuritypolicies.extensions|replicaset.extensions|networkpolicie.networking.k8s.io|poddisruptionbudget.policy|clusterrolebinding.rbac.authorization.k8s.io|clusterrole.rbac.authorization.k8s.io|rolebinding.rbac.authorization.k8s.io|role.rbac.authorization.k8s.io|storageclasse.storage.k8s.io)[[:alnum:]_#$%&+=/@-]+)|([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})|([0-9a-f]{12,128})|([[:digit:]]{1,3}\.[[:digit:]]{1,3}\.[[:digit:]]{1,3}\.[[:digit:]]{1,3})'
action = "Copy"
post_processing = false
binding = { key = "U", mods = "Control|Shift" }

[general]
# Alacritty basic configuration

# There are 2 methods to set themes, both use the import functionality
# 1) https://github.com/alacritty/alacritty-theme
  # mkdir -p ~/.config/alacritty/themes
  # git clone https://github.com/alacritty/alacritty-theme ~/.config/alacritty/themes

# 2) https://github.com/Gogh-Co/Gogh
  # git clone https://github.com/Gogh-Co/Gogh.git gogh && cd gogh
  # pip install -r requirements.txt
  # export TERMINAL=alacritty
  # ./gog.sh

#[colors.primary]
#background = '#000000'
#foreground = '#FFFFFF'
#
#[colors.normal]
#black = '#000000'
#red = '#FF0000'
#green = '#006400'

import = [
  "~/.config/alacritty/alacritty-theme/themes/ayu_dark.toml"
]

[terminal]

